body {
    background-color: #1d4221;
    color: white;
    font-family: font-family"Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin: 0;
}
button {
    color: white;
    background-color: #64A712;
    font-family: font-family"Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}


.passo.ativo {
    display:block;
}